

h1 {
    text-align: center;
}

.brand-logo {
  align-items: left; 
}

.recipe-img {
  width: 300px;
  height: 300px;
}

img {
  max-width:100%;
}

nav {
    background-color: var(forestgreen);
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    list-style: none;
}
.myimage {
  width: 500px;
  height: 500px;
  object-fit: cover;
  transform: translate3d(-50%, 69.8807px, 0px);
  opacity: 0.4!important;
}

.parallax-container {
  height: 400px!important;
}

/* aside {
  margin: 2px;
  padding: 20px;
  float: left;
  border: 1px solid #7F0B00;
background-color: #ADB4B8;
display:table-cell;
}   */

/* .sidebox {
border: 1px solid black;
width: 12em;
background:#fff;
display:table-cell;
} */

#subtext {
  color: forestgreen;
}

.link-boxes {
  float: right;
}

.link {
    text-align: center;
}
@media screen and (max-width: 992px) {
    

.box {
  min-height: 80px!important;
  border-radius: 5px;
  background-color: gainsboro;
  padding: 5px;
  margin: 5px;
  min-width: 50px; 
}

.teal-gradiant {
  background: rgb(255,255,255);
background: linear-gradient(335deg, rgba(255,255,255,1) 0%, rgba(0,137,123,1) 100%);

}


footer {
  Border: 15px;
  background-color: forestgreen;
  align-items: center;
  text-align: center;
}
/* Media query that changes width of items based on device */
/* Tablets - header changes color */
/* @media screen and (max-width: 992px) {
    /* header { */
      /* background: forestgreen;
    }
  }
  
  /* Large smartphones - navbar changes color */
  /* @media screen and (max-width: 768px) {
    /* nav { */
      /* background-color: seagreen; */
    /* } */
  /* }  */
  
  /* Small smartphones - image placeholders change color */
  /* @media screen and (max-width: 576px) {
    /* .sample-img { */
      /* background-color: lightgreen;
    }
  }   */
