h1 {
    text-align: center;
    color: green;
}

.nav {
    background-color: var(forestgreen);
    color: whitesmoke;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    list-style: none;
}

.box {
  min-height: 80px!important;
  border-radius: 5px;
  background-color: gainsboro;
  padding: 5px;
  margin: 5px;
  min-width: 50px; 
}


img {
  max-width:100%;
}



/* Media query that changes width of items based on device */
/* Tablets - header changes color */
/* @media screen and (max-width: 992px) {
    /* header { */
      /* background: forestgreen;
    }
  }
  
  /* Large smartphones - navbar changes color */
  /* @media screen and (max-width: 768px) {
    /* nav { */
      /* background-color: seagreen; */
    /* } */
  /* }  */
  
  /* Small smartphones - image placeholders change color */
  /* @media screen and (max-width: 576px) {
    /* .sample-img { */
      /* background-color: lightgreen;
    }
  }   */